.career-images {
    width: 100%;

    .content-area {
        display: flex;
        width: 100%;

        .img-container {
            width: 25%;

            img {
                width: 100%;
            }
        }
    }
}