.timeline_new {
    padding-bottom: 170px;
    .container_area {
        margin: auto;
        max-width: 1300px;

        .timeline_area {
            padding-bottom: 70px;
            position: relative;
            .timeline_line {
                content: '';
                position: absolute;
                width: 2px;
                // background-color: #000;
                top: 0;
                bottom: 0;
                left: 317px;
                margin-left: -3px;

                --border-color: #000;
                --border-weight: 2px;
                --dash-size: 5px;
                --gap-size: 10px;
                z-index: 1;

                .bottom_icon {
                    position: absolute;
                    bottom: -30px;
                    transform: rotate(-90deg);
                    left: -4px;
                }

                &:after {
                    transition: all .6s ease;
                    content:'';
                    position: absolute;
                    height: 100%;
                    top: 10px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: 
                        linear-gradient(90deg, var(--border-color) 100%, transparent 100%) top left no-repeat,
                        linear-gradient(90deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) top center repeat-x,
                        linear-gradient(90deg, var(--border-color) 100%, transparent 100%) top right no-repeat,
                        
                        linear-gradient(0deg, var(--border-color) 100%, transparent 100%) top left no-repeat,
                        linear-gradient(0deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) center left repeat-y,
                        linear-gradient(0deg, var(--border-color) 100%, transparent 100%) bottom left no-repeat,
                        
                        linear-gradient(90deg, var(--border-color) 100%, transparent 100%) bottom left no-repeat,
                        linear-gradient(90deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) bottom center repeat-x,
                        linear-gradient(90deg, var(--border-color) 100%, transparent 100%) bottom right no-repeat,
                        
                        linear-gradient(0deg, var(--border-color) 100%, transparent 100%) top right no-repeat,
                        linear-gradient(0deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) center right repeat-y,
                        linear-gradient(0deg, var(--border-color) 100%, transparent 100%) bottom right no-repeat;
                    background-size: var(--dash-size) var(--border-weight), calc(var(--dash-size) + var(--gap-size)) var(--border-weight), var(--dash-size) var(--border-weight), var(--border-weight) var(--dash-size), var(--border-weight) calc(var(--dash-size) + var(--gap-size)), var(--border-weight) var(--dash-size);
                }
            }

            & > .item ~ .item{
                margin-top: 67px;
            }

            .item {
                display: flex;
                padding-left: 135px;
                padding-right: 60px;
                // margin-top: 67px;
                align-items: center;
                position: relative;


    
                &::after {
                    content: "";
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    left: 290px;
                    background-color: #204e9d;
                    border-radius: 50%;
                    border: 13px solid #fff;
                    z-index: 2;
                    top: 50%;
                    transform: translate(0, -50%);
                }
    
                h3 {
                    font-size: 35px;
                    font-weight: 500;
                    letter-spacing: -2.1px;
                    line-height: 43px;
                    color: #000;
                    margin-right: 205px;
                    margin-bottom: 0px;
                    min-width: 81px;
                }
    
                p {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 22.4px;
                    margin-bottom: 0px;
                    color: #7E7E7E;
                }
    
                &.icon {
                    background: #FBFBFB;
                    box-shadow: 0px 2px 8px 3px rgba(0,0,0,0.08);
                    -webkit-box-shadow: 0px 2px 8px 3px rgba(0,0,0,0.08);
                    -moz-box-shadow: 0px 2px 8px 3px rgba(0,0,0,0.08);
                    max-height: 150px;
                    z-index: 2;
                    margin-top: 95px;
                    margin-bottom: 120px;

                    .img-area {
                        width: 253px;
                        height: 253px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    p {
                        font-size: 20px;
                        line-height: 28px;
                        font-weight: 400;
                        max-width: 372px;
                        margin-right: 203px;
                    }
    
                    &.v2 {
                        p {
                            max-width: 528px;
                            margin-right: 44px;
                        }
                    }
                }
    
                &.with-bg {
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 300px;
                    background-position: center;
                    position: relative;
                    margin-top: 79px;
                    z-index: 2;
                    
                    
                    .timeline_line_white {
                        content: '';
                        position: absolute;
                        width: 2px;
                        // background-color: #000;
                        top: 0;
                        bottom: 0;
                        left: 317px;
                        margin-left: -3px;
        
                        --border-color: #fff;
                        --border-weight: 2px;
                        --dash-size: 5px;
                        --gap-size: 10px;
                        z-index: 4;
        
                        &:after {
                            transition: all .6s ease;
                            content:'';
                            position: absolute;
                            height: 30%;
                            top: 25%;
                            transform: translate(0, -50%);

                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: 
                                linear-gradient(90deg, var(--border-color) 100%, transparent 100%) top left no-repeat,
                                linear-gradient(90deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) top center repeat-x,
                                linear-gradient(90deg, var(--border-color) 100%, transparent 100%) top right no-repeat,
                                
                                linear-gradient(0deg, var(--border-color) 100%, transparent 100%) top left no-repeat,
                                linear-gradient(0deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) center left repeat-y,
                                linear-gradient(0deg, var(--border-color) 100%, transparent 100%) bottom left no-repeat,
                                
                                linear-gradient(90deg, var(--border-color) 100%, transparent 100%) bottom left no-repeat,
                                linear-gradient(90deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) bottom center repeat-x,
                                linear-gradient(90deg, var(--border-color) 100%, transparent 100%) bottom right no-repeat,
                                
                                linear-gradient(0deg, var(--border-color) 100%, transparent 100%) top right no-repeat,
                                linear-gradient(0deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) center right repeat-y,
                                linear-gradient(0deg, var(--border-color) 100%, transparent 100%) bottom right no-repeat;
                            background-size: var(--dash-size) var(--border-weight), calc(var(--dash-size) + var(--gap-size)) var(--border-weight), var(--dash-size) var(--border-weight), var(--border-weight) var(--dash-size), var(--border-weight) calc(var(--dash-size) + var(--gap-size)), var(--border-weight) var(--dash-size);
                        }

                        &.v2:after {
                            bottom: -5%;
                            top: unset;
                        }
                    }
                    
                    &::before {
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 61.8%;
                        background-color: #132d5a;
                        opacity: 90%;
                        top: 0;
                        left: 0;
                    }
    
                    &::after {
                        content: "";
                        position: absolute;
                        width: 17px;
                        height: 17px;
                        left: 302px;
                        background-color: #fff;
                        border-radius: 50%;
                        // border: 13px solid transparent;
                        z-index: 1;
                        top: 50%;
                        transform: translate(0, -50%);
                    }
    
                    h3, p {
                        position: relative;
                        z-index: 3;
                        color: #fff;
                    }
    
                    p {
                        font-size: 20px;
                        line-height: 28px;
                        font-weight: 400;
                    }
                }
                
            }

        }
    }
}

@media only screen and (max-width: 1199.98px){
    .timeline_new .container_area .timeline_area .item.icon.v2 p {
        max-width: 372px;
    }
}

@media only screen and (max-width: 991.98px){
    .timeline_new .container_area .timeline_area .item.icon {
        max-height: unset;
    }

    .timeline_new .container_area .timeline_area .item.icon .img-area {
        display: none;
    }

    .timeline_new .container_area .timeline_area .item.icon p {
        max-width: 100% !important;
        margin-right: 0px !important;
    }

    .timeline_new .container_area .timeline_area .item.icon {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .timeline_new .container_area .timeline_area .item.with-bg::before {
        width: 100%;
    }
}

@media only screen and (max-width: 767.98px){
    .timeline_new .container_area .timeline_area .item {
        padding-left: 60px;
        padding-right: 40px;
        display: block;
    }

    .timeline_new .container_area .timeline_area .item h3 {
        margin-right: 30px;
        margin-bottom: 20px;
    }

    .timeline_new {
        padding: 50px 0px;
    }

    .timeline_new .container_area .timeline_area .timeline_line {
        left: 36px;
    }

    .timeline_new .container_area .timeline_area .item::after {
        left: 20px;
        top: 23px;
        width: 30px;
        height: 30px;
        border: 5px solid #fff;
    }

    .timeline_new .container_area .timeline_area .item.icon {
        margin-bottom: 0px;
        margin-top: 67px;
    }

    .timeline_new .container_area .timeline_area .item.with-bg .timeline_line_white {
        left: 36px;
        top: 125px;
    }

    .timeline_new .container_area .timeline_area .item.with-bg .timeline_line_white:after {
        height: 80%;
    }

    .timeline_new .container_area .timeline_area .item.with-bg {
        height: auto;
        padding: 60px;
    }

    .timeline_new .container_area .timeline_area .item.icon {
        padding: 60px;

    }

    .timeline_new .container_area .timeline_area .item.icon::after {
        top: 82px;
    }

    .timeline_new .container_area .timeline_area .item.with-bg::after {
        left: 25px!important;
        top: 81px!important;
        width: 19px;
        height: 19px;
    }

    .timeline_new .container_area .timeline_area .item.with-bg .timeline_line_white.v2 {
        // display: none;
        top: 0px;
    }

    .timeline_new .container_area .timeline_area .item.with-bg .timeline_line_white.v2:after {
        top: 16%;
        height: 12%;
    }
}
