.half-form-overlap {
  position: relative;
  padding-top: 125px;
  padding-bottom: 100px;
  clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
  background: #fff;
  margin-top: -11vh;

  &::before {
    content: "";
    position: absolute;
    background-image: url(../../images/geometric-bg.png);
    background-repeat: no-repeat;
    transform: scaleY(-1);
    background-size: contain;
    width: 100%;
    height: 110%;
    top: -25px;
    left: -200px;
    z-index: -1;
  }

  &-content {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .left-area {
      flex: 0 0 40%;
      max-width: 40%;

      .title-area {
        padding: 11px 20px 20px 0;
        margin-right: -220px;
        position: relative;
        margin-top: 57px;

        &::before {
          content: "";
          width: 50%;
          height: 100%;
          top: 0;
          right: 0;
          position: absolute;
          background-color: #fff;
          z-index: 1;
        }

        h2 {
          margin-bottom: 20px;
          z-index: 2;
          position: relative;
        }

        h3 {
          font-weight: normal;
          font-size: 19.2px;
          line-height: 31px;
          letter-spacing: -1px;
          color: #64727F;
          position: relative;
          z-index: 2;
        }
      }

      .form-area {
        margin-top: 34px;

        form {
          input {
            font-weight: 600;
            font-size: 16px;
            line-height: 30px;
            color: #64727F;
            width: 285px;
            border: none;
            border-bottom: 1px solid #64727F;
            background-color: transparent;
            margin-bottom: 25px;

            &::placeholder {
              color: #64727F;
            }
          }

          button {
            margin-top: 35px;
            margin-bottom: 43px;
          }
        }

        p {
          font-weight: normal;
          font-size: 13.3px;
          line-height: 21px;
          text-align: right;
          color: #64727F;
        }
      }
    }

    .right-area {
      flex: 0 0 51.4%;
      max-width: 51.4%;
    }
  }
}

@media (max-width: 767.98px) {
  .half-form-overlap {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    clip-path: none;
    background: #fff;
    margin-top: 0;

    &::before {
      content: "";
      position: absolute;
      background-image: url(../../images/geometric-bg.png);
      background-repeat: no-repeat;
      transform: scaleY(-1);
      background-size: contain;
      width: 100%;
      height: 110%;
      top: -25px;
      left: -200px;
      z-index: -1;
    }

    &-content {
      width: 1000px;
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .left-area {
        flex: 0 0 100%;
        max-width: 100%;

        .title-area {
          padding: 0 20px 20px 0;
          margin-right: 0;
          position: relative;
          margin-top: 0px;

          &::before {
            display: none;
          }

          h2 {
            margin-bottom: 20px;
            z-index: 2;
            position: relative;
          }

          h3 {
            font-weight: normal;
            font-size: 19.2px;
            line-height: 31px;
            letter-spacing: -1px;
            color: #64727F;
            position: relative;
            z-index: 2;
          }
        }

        .form-area {
          margin-top: 34px;

          form {
            input {
              font-weight: 600;
              font-size: 16px;
              line-height: 30px;
              color: #64727F;
              width: 285px;
              border: none;
              border-bottom: 1px solid #64727F;
              background-color: transparent;
              margin-bottom: 25px;

              &::placeholder {
                color: #64727F;
              }
            }

            button {
              margin-top: 35px;
              margin-bottom: 43px;
            }
          }

          p {
            font-weight: normal;
            font-size: 13.3px;
            line-height: 21px;
            text-align: right;
            color: #64727F;
          }
        }
      }

      .right-area {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}