.link-star {
  position: relative;
  padding-top: 85px;
  padding-bottom: 85px;

  @media (max-width: 767.98px) {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url(../../images/geometric-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale3d(1, -1, -1);
    width: 600px;
    max-width: 45.734%;
    height: 150%;
    top: -150px;
    left: -165px;
    z-index: -1;
    pointer-events: none;
  }

  .link-star-content {
    width: 1000px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .left-area {
      flex: 0 0 29%;
      max-width: 29%;

      @media (max-width: 767.98px) {
        flex: 0 0 100%;
        max-width: 100%;
      }

      h2 {
        font-weight: bold;
        font-size: 39.81px;
        line-height: 50px;
        letter-spacing: -1px;
        color: #595959;
        margin-bottom: 15px;

        @media (max-width: 991.98px) {
          font-size: 30px;
          line-height: 40px;
        }
      }

      h5 {
        font-weight: normal;
        font-size: 19.2px;
        line-height: 31px;
        letter-spacing: -1px;
        color: #64727F;
      }
    }

    .right-area {
      flex: 0 0 61.5%;
      max-width: 61.5%;
      padding-top: 50px;

      @media (max-width: 767.98px) {
        flex: 0 0 100%;
        max-width: 100%;
        padding-top: 35px;
      }

      ul {
        list-style: none;
        columns: 2;
        padding-left: 0;

        @media (max-width: 767.98px) {
          columns: 1;
        }

        li {
          font-weight: bold;
          font-size: 14px;
          line-height: 26px;
          color: #00B287;
          padding-left: 46px;
          position: relative;
          min-height: 30px;
          margin-bottom: 23px;
          display: flex;
          align-items: center;

          &::before {
            content: "";
            width: 30px;
            height: 30px;
            background-image: url(../../images/svg/star-rect.svg);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}