.page-banner {
  position: relative;
  min-height: 791px;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 98%);
  margin-bottom: -11vh;
  z-index: 1;

  @media (max-width: 991.98px) {
    clip-path: none;
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url(../../images/geometric-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 55%;
    height: 115%;
    top: 0;
    left: -14%;
    z-index: 0;
  }

  .banner-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;

    &::before {
      content: "";
      background: linear-gradient(269.13deg, rgba(33, 60, 72, 0.2) 8.02%, #213C48 71.98%);
      width: 100%;
      height: 100%;
      position: absolute;
      background-size: 100% 100%;
      z-index: 2;
    }

    &.radial-overlay {

      &::before {
        background: radial-gradient(85.17% 42.02% at 100% 55.78%, rgba(33, 60, 72, 0.2) 0%, #213C48 99.95%);
        transform: matrix(1, 0, 0, -1, 0, 0);
      }
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0;
      z-index: 1;
    }
  }

  &-content {
    padding-left: 85px;
    margin-top: 210px;
    margin-bottom: 150px;
    width: 600px;
    max-width: 100%;

    h1 {
      font-weight: bold;
      font-size: 19.2px;
      line-height: 31px;
      letter-spacing: -1px;
      color: #00B287;
      margin-bottom: 12px;
    }

    h2 {
      font-weight: bold;
      font-size: 47.78px;
      line-height: 67px;
      letter-spacing: -1px;
      color: #FFFFFF;
      margin-bottom: 25px;
    }

    h3 {
      font-weight: normal;
      font-size: 19.2px;
      line-height: 31px;
      letter-spacing: -1px;
      color: #FFFFFF;
      padding-right: 15%;
    }

    h4 {
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
      color: #00B287;
      margin-bottom: 15px;

      a {
        color: inherit;
      }
    }
  }

  &.large-content {
    &::before {
      left: -280px;
    }

    .page-banner-content {
      width: 825px;
    }
  }
}

@media (max-width: 767.98px) {
  .page-banner {
    position: relative;
    min-height: unset;
    clip-path: none;
    margin-bottom: 0px;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      background-image: url(../../images/geometric-bg.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 55%;
      height: 115%;
      top: 0;
      left: -14%;
      z-index: 0;
    }

    .banner-bg {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;

      &::before {
        content: "";
        background: linear-gradient(269.13deg, rgba(33, 60, 72, 0.2) 8.02%, #213C48 71.98%);
        width: 100%;
        height: 100%;
        position: absolute;
        background-size: 100% 100%;
        z-index: 2;
      }

      &.radial-overlay {

        &::before {
          background: radial-gradient(85.17% 42.02% at 100% 55.78%, rgba(33, 60, 72, 0.2) 0%, #213C48 99.95%);
          transform: matrix(1, 0, 0, -1, 0, 0);
        }
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0;
        z-index: 1;
      }
    }

    &-content {
      padding-left: 0px;
      margin-top: 40px;
      margin-bottom: 40px;
      width: 600px;
      max-width: 100%;

      h1 {
        font-weight: bold;
        font-size: 16px;
        line-height: 25.58px;
        letter-spacing: -1px;
        color: #00B287;
        margin-bottom: 12px;
      }

      h2 {
        font-weight: bold;
        font-size: 39.81px;
        line-height: 55.66px;
        letter-spacing: -1px;
        color: #FFFFFF;
        margin-bottom: 25px;
      }

      h3 {
        font-weight: normal;
        font-size: 16px;
        line-height: 25.58px;
        letter-spacing: -1px;
        color: #FFFFFF;
        padding-right: 15%;
      }

      h4 {
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: #00B287;
        margin-bottom: 15px;

        a {
          color: inherit;
        }
      }
    }

    &.large-content {
      &::before {
        left: -280px;
      }

      .page-banner-content {
        width: 825px;
      }
    }
  }
}