html {
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  color: #595959;

  &.menu-shows {
    overflow: hidden;
  }

  section {
    overflow: hidden;
  }

  @media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
      max-width: 1200px;
    }
  }

  .anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden
  }

  a,
  button,
  input,
  select,
  textarea {

    &:focus,
    &:hover {
      box-shadow: none !important;
      outline: none !important;
      text-decoration: none;
    }
  }

  h1 {
    font-weight: bold;
    font-size: 47.78px;
    line-height: 1.4;
    letter-spacing: -1px;
    color: #595959;
  }

  h2 {
    font-weight: bold;
    font-size: 39.81px;
    line-height: 1.4;
    letter-spacing: -1px;
    color: #595959;
  }

  h3 {
    font-weight: normal;
    font-size: 27.65px;
    line-height: 1.4;
    letter-spacing: -1px;
    color: #595959;
  }

  h4 {
    font-size: 23.04px;
    line-height: 1.6;
    letter-spacing: -1px;
  }

  h5 {
    font-size: 19.2px;
    line-height: 1.6;
    letter-spacing: -1px;
  }

  h6 {
    font-size: 13.3px;
    line-height: 1.6;
    letter-spacing: -1px;
  }

  p {
    font-size: 14px;
    line-height: 1.83;
  }

  .section-margin {
    margin-top: 100px;
    margin-bottom: 100px;

    &-top {
      margin-top: 100px;
    }

    &-bottom {
      margin-bottom: 100px;
    }
  }

  .section-padding {
    padding-top: 100px;
    padding-bottom: 100px;

    &-top {
      padding-top: 100px;
    }

    &-bottom {
      padding-bottom: 100px;
    }
  }

  .green {
    color: $green;
  }

  a {
    transition: all .35s;
    color: $green;

    &:hover {
      color: $green;
      transition: all .35s;
    }

    &.animated-arrow {
      &::after {
        content: ">";
        position: relative;
        top: 1px;
        margin-left: 5px;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        transition: all .35s;
      }

      &:hover::after {
        margin-left: 10px;
        transition: all .35s;
      }
    }
  }

  .btn-primary {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    min-width: 200px;
    min-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $green;
    border-radius: 0;
    border: 1px solid $green;

    &:hover {
      background-color: #fff;
      color: $green;
      border: 1px solid $green;
    }

    &:active,
    &:focus {
      background-color: $green !important;
      color: #fff !important;
      border: 1px solid $green !important;
    }
  }

  .btn-secondary {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: $green;
    min-width: 200px;
    min-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid $green;

    &:hover {
      background-color: $green;
      color: #fff;
      border: 1px solid $green;
    }

    &:active,
    &:focus {
      background-color: $green !important;
      color: #fff !important;
      border: 1px solid $green !important;
    }
  }

  .clip-top {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  }

  .no-geometry-left {
    &::before {
      display: none;
    }
  }

  .no-geometry-right {
    &::after {
      display: none;
    }
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 767.98px) {
  body {
    h1 {
      font-size: 39.81px;
    }

    h2 {
      font-size: 27.65px;
    }

    h3 {
      font-size: 23.04px;
    }

    h4 {
      font-size: 19.2px;
    }

    h5 {
      font-size: 16px;
    }

    .btn-primary {
      font-size: 13.3px;
      line-height: 16.63px;
      min-width: 175px;
      min-height: 35px;
    }

    .btn-secondary {
      font-size: 13.3px;
      line-height: 16.63px;
      min-width: 175px;
      min-height: 35px;
    }

    .clip-top {
      clip-path: none;
    }
  }
}